{
  "extends": "standard",
  "plugins": ["react"],
  "rules": {
    "semi": ["error", "always"],
    "indent": [
      "error",
      "tab"
    ],
    "linebreak-style": [
      "error",
      "windows"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "no-unused-vars": 0,
    "no-console": 0,
    "no-mixed-spaces-and-tabs": 0,
    "no-useless-escape": 0
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}